<footer class="footer my-container">

  <section class="footer__information">
    <div class="footer__logo">
      {% if logo %}
        {% if home == og_url %}
          <img src="{{ logo }}" title="{{ name }}" alt="{{ name }}" class="img-responsive" />
        {% else %}
          <a href="{{ home }}"><img src="{{ logo }}" title="{{ name }}" alt="{{ name }}" class="img-responsive" /></a>
        {% endif %}
      {% else %}
        <h1><a href="{{ home }}">{{ name }}</a></h1>
      {% endif %}
    </div>
    
    <li>
      <a href="#" class="footer__link">р. Крым, Советский район,<br>с. Раздольное, ул. Школьная 3-а</a>
    </li>

    <li class="footer__contactNumbers">
      <ul>
          <li>{{ telephone }}</li>
          <li>{{ telephone2 }}</li>
          <li>{{ telephone3 }}</li>
        </ul>
    </li>
    
    <li>
      <a href="#" class="footer__link">zakaz@a-ya.toys</a>
    </li>

  </section>

  <section class="footer__aboutUs">
    <h3>О нас</h3>
    <ul class="">
      {% for key, information in informations if key < 2 %}
      <li><a href="{{ information.href }}" class="footer__link">{{ information.title }}</a></li>
      {% endfor %}
    </ul>
  </section>

  <section class="footer__toBuyers">
    <h3>Покупателям</h3>
    <ul>
      {% for key, information in informations if key >=1 and key < 3 %}
        <li><a href="{{ information.href }}" class="footer__link">{{ information.title }}</a></li>
      {% endfor %}
      <li><a href="#" class="footer__link">Гарантии</a></li>
      <li><a href="#" class="footer__link">Прайс-лист</a></li>  
    </ul>
  </section>

  <section class="footer__partnership">
    <h3>Сотрудничество</h3>
    <ul>
      <li><a href="#" class="footer__link">Поставщикам</a></li>
      <li><a href="#" class="footer__link">Оптовикам</a></li>
    </ul>
  </section>





  <!-- <div class="container">
    <div class="row">
      {% if informations %}
      <div class="col-sm-3">
        <h5>{{ text_information }}</h5>
        <ul class="list-unstyled">
         {% for information in informations %}
          <li><a href="{{ information.href }}">{{ information.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}
      <div class="col-sm-3">
        <h5>{{ text_service }}</h5>
        <ul class="list-unstyled">
          <li><a href="{{ contact }}">{{ text_contact }}</a></li>
          <li><a href="{{ return }}">{{ text_return }}</a></li>
          <li><a href="{{ sitemap }}">{{ text_sitemap }}</a></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <h5>{{ text_extra }}</h5>
        <ul class="list-unstyled">
          <li><a href="{{ manufacturer }}">{{ text_manufacturer }}</a></li>
          <li><a href="{{ voucher }}">{{ text_voucher }}</a></li>
          <li><a href="{{ affiliate }}">{{ text_affiliate }}</a></li>
          <li><a href="{{ special }}">{{ text_special }}</a></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <h5>{{ text_account }}</h5>
        <ul class="list-unstyled">
          <li><a href="{{ account }}">{{ text_account }}</a></li>
          <li><a href="{{ order }}">{{ text_order }}</a></li>
          <li><a href="{{ wishlist }}">{{ text_wishlist }}</a></li>
          <li><a href="{{ newsletter }}">{{ text_newsletter }}</a></li>
        </ul>
      </div>
    </div>
    <hr>
    <p>{{ powered }}</p>
  </div> -->
</footer>
{% for script in scripts %}
<script src="{{ script }}" type="text/javascript"></script>
{% endfor %}
</body>
</html>